@font-face {
    font-family: 'cc-serif';
    src: url('../fonts/serif/Juana-LightIt.woff2') format('woff2'),
        url('../fonts/serif/Juana-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'cc-serif';
    src: url('../fonts/serif/Juana-Light.woff2') format('woff2'),
        url('../fonts/serif/Juana-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'cc-serif';
    src: url('../fonts/serif/Juana-ExtraLight.woff2') format('woff2'),
        url('../fonts/serif/Juana-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'cc-serif';
    src: url('../fonts/serif/Juana-ExtraLightIt.woff2') format('woff2'),
        url('../fonts/serif/Juana-ExtraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

